@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="main">

        <div class="time_container">
            <h3>Choose branch</h3>
            <div class="row">
                <select class="text_box">
                </select>
            </div>

            <h3>Business Hours</h3>
            <ul class="time_list">
                <li>
                    <span class="day">Mon</span>
                    <span class="time">10AM - 7:30PM</span>
                </li>
                <li>
                    <span class="day">Tue</span>
                    <span class="time">10AM - 7:30PM</span>
                </li>
                <li>
                    <span class="day">Wed</span>
                    <span class="time">10AM - 7:30PM</span>
                </li>
                <li>
                    <span class="day">Thu</span>
                    <span class="time">10AM - 7:30PM</span>
                </li>
                <li>
                    <span class="day">Fri</span>
                    <span class="time">10AM - 7:30PM</span>
                </li>
                <li>
                    <span class="day">Sat</span>
                    <span class="time">9:30AM - 7PM</span>
                </li>
                <li>
                    <span class="day">Sun</span>
                    <span class="time">11:30AM - 6PM</span>
                </li>
            </ul>
        </div>

        <div class="booking_container">
            <div class="title_container">
                <h3>Book Appointment</h3>
                <h3>5 Off For Make Online Appointment All Services</h3>
                <p>Please book appointment online at least 2 hours in advance. If you in a hurry, please call (817) 508-8777 for availability.</p>
            </div>

            <div class="form_container">
                <div class="row">
                    <input class="text_box" placeholder="Name" />
                    <input class="text_box" placeholder="Phone" />
                </div>

                <div class="row">
                    <input class="text_box" placeholder="Date" type="date"/>
                    <select class="text_box">
                        <option value="" selected disabled hidden>Time</option>
                    </select>
                </div>

        <!-- Service -->

                <div class="form-group">
                    <table class="table table-responsive" style="width:400px">
                        <tr>
                            <th>
                                Summary
                            </th>
                            <th>
                                Temparature
                            </th>
                        </tr>
                        @foreach (WeatherModel weather in Model.ListWeather)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => weather.summary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => weather.temperatureC)
                                </td>
                            </tr>
                        }
                    </table>
                </div>

                 <div class="row">
                    <a class="button" href="#">+ Service</a>
                 </div>

                 <div class="row">
                    <textarea class="text_area" rows="4" placeholder="Message & special request">
                        </textarea>
                 </div>

                 <div class="row">
                     <a class="button">Book it</a>
                 </div>

                <div class="services_container">
                    <div class="services_header">
                        <h3>POPULAR OFFERS</h3>
                    </div>
                    <div class="services_menu">

                        <div class="services_list">
                            @foreach (ServiceModel service in Model.ListService)
                            {
                                <div class="service">
                                    <div class="service_image">
                                       <!-- <Image src={service.image}
                                               alt="right-image"
                                               width="80px"
                                               height="80px"
                                                objectFit="contain" /> -->
                                    </div>
                                    <div class="service_detail">
                                        <div class="service_title">
                                            <h6>@service.name</h6>
                                            <span class="dots"></span>
                                            <h6><span>$</span>@service.price</h6>
                                        </div>
                                        <div class="service_desc">
                                            <p>@service.description</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="right_image">
                            <Image src={rightImage} alt="right-image" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
